.login-box{
    width: 100%;
    height: 11.38rem;
    padding: 0.8rem;
    padding-top: 3rem;
    background-color: #fff;
    display: flex;
}
.mui-input-clear{
    font-size: 0.2rem;
}
.mui-input-password{
    font-size: 0.2rem;
    
}
.head{
    width: 100%;
    position: fixed;
    left: 0;top: 0;
    z-index: 999;
    height: 0.85rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

}
.back{
    width: 1.4rem;
    height: 0.85rem;
    text-align: center;
    line-height: 0.85rem;

}
.back i{
    color: #333;
    font-size: 0.32rem;
}

.tip{
    width: 0.7rem;
    height: 0.85rem;    
    text-align: center;
    font-size: 0.32rem;
    line-height: 0.85rem;
        
}
.head-r{
    width: 1.4rem;
    height: 0.85rem;    
    line-height: 0.85rem;    
    text-align: center;
    color: green;
    font-size: 0.22rem;
}
.head a{
    color: green;
}