<div>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-action-menu mui-icon mui-icon-back mui-pull-left"></a>
        <h1 class="mui-title">商品详情</h1>
    </header>
    <img class="imgs" src="http://sys.haocha.top/upload/images/2018_01_20_09/937fbe024bcea5a60475576006c3105c_small.jpg" alt="">
    <div class="names">
      <p>福建茶具品匠茶居-清庭</p>
      <p>出厂价:280 元</p>
      <p>起批价格:1 件</p>
    </div>
    <div class="Introduction">
      <p>产品参数</p>
    </div>
    <div class="texts">
      <p>生产许可证</p>
      <p>原产地 <span>福建-南平-郑和县</span></p>
      <p>品牌 <span>品匠茶居</span></p>
      <p>规格 <span>610*150*22mm  610*80</span></p>
      <p>生产日期 <span>2018 年</span></p>
    </div>
  </div>
