<div class="my-box">
    <div class="my-head">
        <div class="my-sezhi">
          <i class="iconfont icon-iconfonticonfontjixieqimo"></i>        
        </div>
        <div class="my-xinxi">
          <div class="my-toux">
            <img src="" alt="">
          </div>
          <div class="my-login">
            <div class="my-name">您还没有登录哦~</div>
            <button class="my-loginBtn" (click)="tologin()">点击登录</button>
          </div>
          <div class="my-login2">
                <a [routerLink]="['/login']" >
                <i class="iconfont icon-you"></i>
                </a>
          </div>
        </div>
    </div>
  
    <div class="my-mid">
        <div class="my-dd">
          <span>我的订单</span>
          <i class="iconfont icon-you"></i>
        </div>
        <div class="my-goods">
            <div class="my-font">
                <span class="iconfont icon-fukuan my-huo"></span>			
                <span class="my-txt">待付款</span>
            </div>
            <div class="my-font">
                <span class="iconfont icon-icon-test my-huo"></span>			
                <span class="my-txt">待发货</span>
            </div>
            <div class="my-font">
                <span class="iconfont icon-yifahuo my-huo"></span>			
                <span class="my-txt">已发货</span>
            </div>
        </div>
    </div>
 
    <ul class="my-btm">
      <li class="my-font">
          <span class="iconfont icon-icon-- my-huo my-fun1"></span>			
          <span class="my-txt">消息中心</span>
      </li>
      <li class="my-font">
          <span class="iconfont icon-zuanshi my-huo my-fun2"></span>			
          <span class="my-txt">申请代理</span>
      </li>
      <li class="my-font">
          <span class="iconfont icon-dingwei my-huo my-fun3"></span>			
          <span class="my-txt">收货地址</span>
      </li>
      <li class="my-font">
          <span class="iconfont icon-renzheng-tianchong my-huo my-fun4"></span>			
          <span class="my-txt">门店认证</span>
      </li>
      <li class="my-font">
          <span class="iconfont icon-yinhangqia my-huo my-fun5"></span>			
          <span class="my-txt">银行卡管理</span>
      </li>
      <li class="my-font">
          <span class="iconfont icon-icon-- my-huo my-fun6"></span>			
          <span class="my-txt">联系好茶</span>
      </li>
    </ul>
  </div>