<div class="index">
  <div class="swiper">
    <div class="mui-slider">
      <div class="mui-slider-group">
        <div class="mui-slider-item"><a href="#"><img src="http://sys.haocha.top/upload/images/2018_01_30_17/14984cd3e1a295cb70406f2af3cb898b.jpg" />1</a></div>
        <div class="mui-slider-item"><a href="#"><img src="http://sys.haocha.top/upload/images/2018_01_30_17/14984cd3e1a295cb70406f2af3cb898b.jpg" />2</a></div>
        <div class="mui-slider-item"><a href="#"><img src="http://sys.haocha.top/upload/images/2018_01_30_17/14984cd3e1a295cb70406f2af3cb898b.jpg" />3</a></div>
        <div class="mui-slider-item"><a href="#"><img src="http://sys.haocha.top/upload/images/2018_01_30_17/14984cd3e1a295cb70406f2af3cb898b.jpg" />4</a></div>
      </div>
    </div>
  </div>
</div>