<header class="mui-bar mui-bar-nav ">
  <a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
  <h1 class="mui-title">分类</h1>
</header>
    <div class="mui-content">
      <div id="slider" class="mui-slider mui-fullscreen">
          <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
              <div class="mui-scroll">
                  <a class="mui-control-item mui-active" data-index="0">茶具</a>
                  <a class="mui-control-item" data-index="1">普洱茶</a>
                  <a class="mui-control-item" data-index="2">甘茶</a>
                  <a class="mui-control-item" data-index="3">绿茶</a>
                  <a class="mui-control-item" data-index="4">白茶</a>
                  <a class="mui-control-item" data-index="5">红茶</a>
                  <a class="mui-control-item" data-index="6">乌龙茶</a>
                  <a class="mui-control-item" data-index="7">黑茶</a>
                  <a class="mui-control-item" data-index="8">花茶</a>
                  <a class="mui-control-item" data-index="9">再加工茶</a>
                  <a class="mui-control-item" data-index="10">茶周边</a>
                  
              </div>
          </div>
          <div class="mui-slider-group">
<!-- 茶具  -->
              <div class="mui-slider-item mui-control-content mui-active">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">                                  
                            <div class="mui-slider-item">
                                <ul class="mui-table-view">
                                    <li class="mui-table-view-cell">
                                        <a class="mui-navigate-right">
                                          <p>进入茶具频道</p>
                                          <span>原产地直销，精品推荐</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="content">
                                  <h4>煮水器</h4>
                                  <ul>
                                      <li>
                                        <img src="" alt="">
                                        <p>不锈钢煮水器</p>
                                      </li>
                                      <li>
                                          <img src="" alt="">
                                          <p>玻璃煮水器</p>
                                      </li>
                                      <li>
                                          <img src="" alt="">
                                          <p>消毒器皿</p>
                                      </li>
                                      <li>
                                          <img src="" alt="">
                                          <p>铜壶</p>
                                      </li>
                                      <li>
                                          <img src="" alt="">
                                          <p>陶壶</p>
                                      </li>
                                      <li>
                                          <img src="" alt="">
                                          <p>电陶炉</p>
                                      </li>
                                      <li>
                                          <img src="" alt="">
                                          <p>铜碳炉</p>
                                      </li>
                                  </ul>
                                  
                                </div>
  
                            </div>
                      </div>
                  </div>
              </div>

              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          <div class="mui-slider-item">
                              <ul class="mui-table-view">
                                  <li class="mui-table-view-cell">
                                      <a class="mui-navigate-right">
                                        <p>进入普洱茶频道</p>
                                        <span>原产地直销，精品推荐</span>
                                      </a>
                                  </li>
                              </ul>
                              <div class="content">
                                <h4>云南</h4>
                                <ul>
                                    <li>
                                      <img src="" alt="">
                                      <p>生普</p>
                                    </li>
                                    <li>
                                        <img src="" alt="">
                                        <p>熟普</p>
                                    </li>
                                </ul>
                                
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          <div class="mui-slider-item">
                              <ul class="mui-table-view">
                                  <li class="mui-table-view-cell">
                                      <a class="mui-navigate-right">
                                        <p>进入甘茶频道</p>
                                        <span>原产地直销，精品推荐</span>
                                      </a>
                                  </li>
                              </ul>
                              <div class="content">
                                <h4>广东</h4>
                                <ul>
                                    <li>
                                      <img src="" alt="">
                                      <p>小青柑</p>
                                    </li>
                                    <li>
                                        <img src="" alt="">
                                        <p>大红柑</p>
                                    </li>
                                    <li>
                                        <img src="" alt="">
                                        <p>陈皮普洱</p>
                                    </li>
                                    <li>
                                        <img src="" alt="">
                                        <p>陈皮白茶</p>
                                    </li>
                                    <li>
                                        <img src="" alt="">
                                        <p>陈皮</p>
                                    </li>
                                </ul>
                                
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          绿茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          白茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          红茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          乌龙茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          黑茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          花茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          再加工茶
                      </div>
                  </div>
              </div>
              <div class="mui-slider-item mui-control-content">
                  <div class="mui-scroll-wrapper">
                      <div class="mui-scroll">
                          茶周边
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>